# Classwork Lecture 4

In this exercise, you'll get familiar with the following basics of python:

- String Functions
- If Else Statements
- For Loops

## Student Details

- Name: Vivaan Bhandari
- Division: B
- Roll: 44

# String Functions

Python has a set of built-in methods that you can use on strings. Please complete the following short exercise to learn more about the different string functions. 

[See Reference Library of String Functions](https://www.w3schools.com/python/python_ref_string.asp)

## Part 1

In [1]:
# Name
name = "Vivaan Bhandari"
#Empty String
empty_string = ""
#String with numeric values in it
numeric_string = "qwerty123"

In [4]:
# Q1 A Create and print a variable called "my_name"that stores your name in all lower case
my_name = "vivaan"
my_name

'vivaan'

In [5]:
# Q1 B Capitalize the first letter of "my_name" and then print it
my_name = my_name.capitalize()
my_name

'Vivaan'

In [6]:
# Q1 C Capitalize all letters of "my_name" and then print it
my_name = my_name.upper()
my_name

'VIVAAN'

## Part 2

In [7]:
# Q2 Create and print a variable called "my_favorite_fruit" 
# and make it store "I love apples, apples are my favorite fruit"

my_favorite_fruit = "I love apples, apples are my favourite fruit."
my_favorite_fruit

'I love apples, apples are my favourite fruit.'

In [8]:
# Q2 Make A Sub String of the first five characters
first_five_characters = my_favorite_fruit[0:6]
first_five_characters

'I love'

In [9]:
# Q2 B Print whether "my_favorite_fruit" ends with "fruit" 
my_favorite_fruit.endswith("fruit")

False

In [10]:
# Q2 C Count and print the number of times the value "apple" appears in the string
my_favorite_fruit.count("apple")

2

In [21]:
# Q2 D Replace "apple" with "banana" in "my_favorite_fruit"
my_favorite_fruit = my_favorite_fruit.replace("apple","banana")
my_favorite_fruit

'I love bananas, bananas are my favourite fruit.'

In [22]:
# Q2 E Convert the first character of each word in "my_favorite_fruit" to upper case
my_favorite_fruit.title()

'I Love Bananas, Bananas Are My Favourite Fruit.'

In [23]:
# Q2 F Split "my_favorite_fruit" on "," and print the result
split_result = my_favorite_fruit.split(", ")
split_result

['I love bananas', 'bananas are my favourite fruit.']

# If Else Statements

[See Reference](https://info370a-w19.github.io/python-basics/logic-and-conditionals.html)

In [28]:
# Function that prints if the mother is older
father_age = 43
mother_age = 43
mother_older = mother_age>father_age
father_older = mother_age<father_age
father_older

False

In [38]:
if father_age>mother_age:
    print("Father is older.")
elif mother_age<father_age:
    print("Mother is older.")
else:
    print("Both are of the same age.")

Both are of the same age.

# Make a Pass Fail Function That Accepts a Grade
- if greater than 35 should print "pass"
- else if the grade is 35 should print "just passed"
- else print "failed"

In [20]:
def student_grader(grade):
    if grade > 35:
        print("Passed")
    elif grade == 35:
        print("Just Passed")
    else:
        print("Failed")

In [19]:
student_grader(35)

Just Passed

# Create a function that accepts the current temperature and returns "is hot" if the temperature is greater than 24 and returns "is not hot" if the temperature is equal to or below 24

In [40]:
def hot_or_not(temperature):
    if temperature>24:
        return "Is Hot"
    else:
        return "Is Not Hot"

In [41]:
hot_or_not(64)

'Is Hot'

# Grades

- A Grade: 90 and above
- B Grade: 70 and 89
- C Grade: 50 and 69
- D Grade: 35 and 49
- F Grade: Anything below 35

In [62]:
#Grader Function
#Grader Function
def grader (score) :
    if score >= 90:
        return "A"
    elif score>=70 and score <=89:
        return "B"
    elif score>=50 and score <=69:
        return "C"
    elif score> 30 and score <= 49:
        return "D"
    else:
        return "F"

In [63]:
grader(59)

'C'

In [14]:
# Create a function called "goldilocks" that accepts a numeric temperature value 
# and returns "This porridge is too hot!" if the temperature value is >= 80
# and returns "This porridge is just right" if the temperature value is between 40 and 79
# and returns "This porridge is too cold" if the temperature value is below 40

In [51]:
def goldilocks(temp):
    if temp >= 80:
        return "This porridge is too hot!"
    elif temp >= 40 and temp <= 79:
        return "This porridge is just right."
    else:
        return "This porridge is too cold"

In [52]:
goldilocks(57)

'This porridge is just right.'

# For Loops

In [55]:
# Create a list of your favorite movies

movies = ["Terminator", "Terminator 2", "Terminator 3", "Terminator 4", "Terminator 5"]
movies

['Terminator', 'Terminator 2', 'Terminator 3', 'Terminator 4', 'Terminator 5']

In [61]:
# Create a for loop that prints each of your favorite movies with the text "I love "
for movie in movies:
    print("I love", movie)

I love Terminator
I love Terminator 2
I love Terminator 3
I love Terminator 4
I love Terminator 5

In [72]:
# Create a list of your favorite cars and favorite colors
cars = ["Model S", "Model 3", "Model X", "Model Y", "Cybertruck"]
colors = ["Black", "Blue", "Green", "Orange", "White"]
cars, colors

(['Model S', 'Model 3', 'Model X', 'Model Y', 'Cybertruck'],
 ['Black', 'Blue', 'Green', 'Orange', 'White'])

In [76]:
# Create a nested for loop that prints your favorite car names for each favorite color
for color in colors:
    for car in cars:
        print(color,car)

Black Model S
Black Model 3
Black Model X
Black Model Y
Black Cybertruck
Blue Model S
Blue Model 3
Blue Model X
Blue Model Y
Blue Cybertruck
Green Model S
Green Model 3
Green Model X
Green Model Y
Green Cybertruck
Orange Model S
Orange Model 3
Orange Model X
Orange Model Y
Orange Cybertruck
White Model S
White Model 3
White Model X
White Model Y
White Cybertruck

# Create a function that accepts a list of colors and a list of cars  and then returns the following

- "Yes it exists" if the car combination "Speed Red Mazda" is possible
- "Does not exist" if the car combination "Speed Red Mazda" is not possible

In [61]:
def speed_red_mazda_exists(cars, colors):
    
    for car in cars:
        
        if car == "Mazda":
            for color in colors:
                if color == "Speed Red":
                    return "Yes It Exists"

    return "It does not exist"

In [62]:
cars_list_1 = ["Ferrari", "Mustang", "McLaren", "Mazda", "Skyliner"]
colors_list_1 = ["Eggplant Purple", "Midnight Black", "Metallic Blue"]

In [63]:
cars_list_2 = ["Ferrari", "Mustang", "McLaren", "Mazda", "Skyliner"]
colors_list_2 = ["Speed Red","Eggplant Purple", "Midnight Black", "Metallic Blue"]

In [64]:
speed_red_mazda_exists(cars_list_1,colors_list_1)

'It does not exist'